.login-group {
  position: relative
  margin-bottom: 15px
}

.login-text {

}


.login-page {
  font-family: Roboto, sans-serif
}

.login-form {
    margin: 0 auto
    width: 35%
}

.login-card {
    text-align: center
    margin-top: 20px
    max-width: 360px
    min-width: 220px
    padding: 20px
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
